.idea
.vs
x64
build
cmake
***/x64
***.sln.DotSettings.user
***/imgui.ini
*.pch
*.pdb
*.dll
dlls/*
libs/*
!dlls/.gitkeep
!libs/.gitkeep
!libs/debug/.gitkeep
!libs/release/.gitkeep
!libs/physx_include/.gitkeep
libtorch
